    .Cuerpo {
        display: block;
        text-align: center;
        margin-block-end: 50%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    table {
        margin-top: 5%;
    }
    
    h1 {
        padding-top: 3%;
    }
    
    .add {
        float: right;
        inline-size: auto;
    }