
<header>
  <h1> BOLSA DE EMPLEOS</h1>
</header>
<hr>


  <div class="container" style="width: 100%;">

    <section class="sub-header">
      <form class="form-inline" method="POST" name="Search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div class="Add">

        <div class="nav justify-content-end">
          <a class="btn btn-primary" href="empleos/add" role="button"><i class="fas fa-plus-circle"> <b>Agregar un empleos</b></i> </a>
        </div>

      </div>
    </section>
    <!--- Salto de linea -->
    <br>
    <!--- Linea central-->
    <hr>


    <!--- Tabla de Registro-->

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Location</th>
          <th scope="col">Position</th>
          <th scope="col">Company</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
          <td>Ejemplo de muestra</td>
        </tr>
      </tbody>
    </table>
    </div>
 

