
<header class="text-center">
  <h1> BOLSA DE EMPLEOS</h1>
</header>
<hr>


<div class="container" style="width: 100%;">

  <section class="sub-header">
    <form class="form-inline" method="POST" name="Search" (submit)="jobsSearcher()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="valorBusc" name="buscado">
      <button class="btn btn-success" type="submit">Search</button>
    </form>

    <div class="Add">

      <div class="nav justify-content-end">
        <a class="btn btn-primary" href="empleos/add" role="button"><i class="fas fa-plus-circle"> <b>Agregar empleo</b></i> </a>
      </div>

    </div>
  </section>
  <!--- Salto de linea -->
  <br>
  <!--- Linea central-->
  <hr>  


  <!--- Tabla de Registro-->
  <div class="mb-5" *ngFor="let categoria of searchResult">
    <div *ngIf="categoria.jobPosting.length > 0">

      <a href="empleos/category/{{categoria.categoryId}}"><strong>{{categoria.categoryName | uppercase }}</strong> {{categoria.jobPosting.length}} resultados<span></span> <span class="float-right">Mas..</span></a>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Location</th>
            <th scope="col">Position</th>
            <th scope="col">Company</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row" *ngFor="let empleo of reverseJobs(categoria.jobPosting).slice(0,10)">
            <td>{{empleo.location}}</td>
            <td>{{empleo.position}}</td>
            <td>{{empleo.company}}</td>
            <td><a class="btn btn-primary" href="empleos/edit/{{empleo.jobPostingId}}">Editar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 

