<header class="text-center">
  <h1>Agregue un empleo al sitio</h1>
</header>

<hr>


  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="/empleos"><i class="fas fa-arrow-circle-left" style="font-size: large"> Atras</i></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Haga su oferta ahora</h4>

      <div class="Formulario">
        <div class="Card">
          <form action="" method="post">

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">Nombre de la empresa</label>
                <input type="text" class="form-control" id="validationDefault01" name="Empresa" placeholder="Nombre de la empresa" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault02">Nombre del puesto</label>
                <input type="text" class="form-control" id="validationDefault02" name="Puesto" placeholder="Nombre del empleo ofertado" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">Ciudad</label>
                <input type="text" class="form-control" id="validationDefault03" name="Ciudad" placeholder="Ubicacion de la empresa" required>
              </div>
              <div class="col-md-6 mb-6">
                <label for="validationDefault04">Categoria</label>
                <select class="form-control" id="validationDefault04" name="Categoria" required>

                  <option selected disabled value="Elija una Categoria de empleo">Elija una Categoria de empleo</option>
                  <option>Categoria 2</option>
                  <option>Categoria 3</option>
                  <option>Categoria 4</option>
                  <option>Categoria 1</option>

                </select>
              </div>
              <div class="form-group">
                <label>Description del puesto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" cols="150" name="Description" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="" type="checkbox" value="" id="invalidCheck2" name="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2"> Acepto los terminos y condiciones</label>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>


          </form>

        </div>
      </div>



    </div>
  </div>

